.walkers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walker-info {
  background-color: rgb(53, 163, 163);
  border-radius: 10px;
  width: 300px;
  padding: 20px 0;
  margin: 15px 0 5px 0;
}