.walkers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walker-info {
  background-color: rgb(53, 163, 163);
  border-radius: 10px;
  width: 300px;
  padding: 20px 0;
  margin: 15px 0 5px 0;
}

.dogs-walkers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dog-walker {
  background-color: rgb(53, 163, 163);
  border-radius: 10px;
  width: 300px;
  padding: 20px 0;
  margin-bottom: 5px;
}

.dog-walker:hover {
  background-color: rgb(109, 109, 201);
  cursor: pointer;
}

.edit-walker-cities {
  margin: 10px;
  display: grid;
  grid: repeat(3, 30px) / auto-flow;
  align-items: end;
  justify-content: stretch;
}

.edit-walker-city {
  justify-self: start;
}

.walker-name a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.walker-name a:hover {
  font-size: 1.01rem;
  color: rgb(49, 27, 27);
}

